* {
  box-sizing: border-box;
}

p, 
h1, 
h2 {
  margin: 0;
}

.container {
  display: grid;
  grid-template: 
  'profile nav' 60px
  'profile header' 100px
  'menu header' 40px
  'menu main' 100px
  'menu main' 1fr
  / 
  160px 1fr;
  font-family: sans-serif;
}

.profile {
  border: 1px solid;
  display: flex;
  justify-content: center;
  grid-area: profile;
  background-color: #969a97;
}

.profile-centering {
  display: grid;
  justify-items: center;
  align-self: center;
}

.profile img {
  border-radius: 70%;
  display: block;
  width: 70px;
  margin-top: 4%;
}

.profile p {
  color: #fff;
  font-size: 1em;
  margin: 4px;
}

.fa-caret-down {
  color: #fff;
}

.fa-caret-down:hover {
  color: #b64d26;
}

.fa-bars {
  color: #fff;
  font-size: 1.5em;
}

.fa-bars:hover {
  color: #b64d26;
}

nav {
  background-color: #;
  display: flex;
  font-size: 1.2em;
  grid-area: nav;
  /*grid-template: "one two three four five"
                  / 50px 1fr 50px 50px 50px;*/
}

/*.separate {
  display: flex;
  justify-content: space-between;
}*/

.nav > *:not(:first-child) {
  border-left: 1px solid;

}

.nav .fas { 
  color: black;
  width: 60px;
 }

.nav-icons-right {
  display: flex;
  justify-content: space-between;
  flex-direction: flex-end;
}

nav .one {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: one;
}

nav .two {
  border: none;
  flex-grow: 1;
  grid-area: two;
}

nav .three {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: three;
}

nav .four {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: four;
}

nav .five {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: five;
}

nav i {
  color: blue;
}

nav i:hover {
  color: #d6d1cd;
}


.fa-user-plus {
  color: #fff;
  font-size: 1.5em;
}

.fa-user-plus:hover {
  color: #b64d26;
}

.fa-calendar-minus {
  color: #fff;
  font-size: 1.5em;
}

.fa-calendar-minus:hover {
  color: #b64d26;
}

.fa-grip-vertical {
  color: #fff;
  font-size: 1.5em;
}

.fa-grip-vertical:hover {
  color: #b64d26;
}

menu {
  background-color: #727E93;
  font-size: .9em;
  grid-area: menu;
  margin: 0;
  padding: 0;
}

.menu-styling {
  border-bottom: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px;
}

.menu-first-list,
.menu-second-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0;
}

.menu-third-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px;
}

.menu-styling.third {
  border: none;
}


menu .fas {
  color: blue;
  margin-right: 1em;
  width: 18px;
  text-align: center;
}

menu .fas:hover {
  color: #d6d1cd;
}

menu .far {
  color: blue;
  margin-right: 1em;
}

menu .far:hover {
  color: #d6d1cd;
}

.square-one {
  color: blue;
}

.square-two {
  color: blue;
}

.square-three {
  color: blue;
}

.square-four {
  color: blue;
}

.square-one:hover {
  color: #d6d1cd;
}

.square-two:hover {
  color: #d6d1cd;
}

.square-three:hover {
  color: #d6d1cd;
}

.square-four:hover {
  color: #d6d1cd;
}

header {
  border-top: 1px solid;
  display: flex;
  flex-direction: column;
  grid-area: header;
  padding: 30px 30px 0;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

header p {
  display: inline-block;
}

.header-right-icons-box {
  display: flex;
  align-items: center;
}

.header-right-icons-box > * {
  border: 1px solid lime;
  border-radius: 900px;
  padding: 5px;
}

.header-right-icons-box > *:not(:last-child) {
  margin-right: 15px;
}

.header-subheading {
  margin-top: 5px;
}

.header-navigation-icons {
  margin-top: auto;
}

.header-navigation-icons p {
  border-bottom: 2px solid transparent;
  margin-right: 10px;
  padding-bottom: 8px;
  font-size: .75em;
  font-weight: 600;
  color: #777;
}

.header-navigation-icons p:hover {
 border-bottom: 2px solid blue;
 color: black;
}

.fa-map-marker-alt {

}

.fa-circle {
  color: purple;
}

.fa-save {

}

.fa-pencil-alt {

}

.fa-trash-alt {

}

main {
  grid-area: main;
  background-color: #f90093;
}